# PyTorch, for more advanced options go https://pytorch.org/get-started/locally/
torch
torchvision
torchaudio

# Latest update on huggiface transformers
git+https://github.com/huggingface/transformers.git

# transalation.py
soundfile
sentencepiece
protobuf

# whisper.py
datasets
accelerate
librosa

# embedding.py
sentence-transformers